<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.potevio.xacp.api.reservation.mappers.ReservationGeneralMapper">
    <resultMap id="BaseResultMap" type="com.potevio.xacp.api.reservation.model.ReservationGeneralRules">

        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="open_date_list" jdbcType="VARCHAR" property="openDateList" />

        <result column="limit_visitors" jdbcType="INTEGER" property="LimitVisitors" />
        <result column="open_time" jdbcType="TIME" property="openTime" />
        <result column="close_time" jdbcType="TIME" property="closeTime" />
        <result column="created_at" jdbcType="INTEGER" property="createAt" />
        <result column="updated_at" jdbcType="INTEGER" property="updatedAt" />
        <result column="rule_date" jdbcType="DATE" property="ruleDate" />
    </resultMap>
    <select id="selectCloseDates" resultType="com.potevio.xacp.api.reservation.model.ReservationGeneralRules">
        select id,limit_visitors,rule_date
        from reservation_general_rules
        where is_open=0
    </select>

    <select id="selectOpenDates" resultType="com.potevio.xacp.api.reservation.model.ReservationGeneralRules">
        select id,limit_visitors,rule_date
        from reservation_general_rules
        where is_open=1
    </select>
</mapper>